* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: sans-serif;
  color: red;
}

.holamundo {
  background-color: blue;
  text-align: center;
  max-width: 650px;
  margin: 15px auto;
}

.holamundo:hover {
  background-color: chartreuse;
  transition: 3s;
}

.h1:hover {
  color: blueviolet;
  transform: skew(15deg);
  transition: 3s;
}

.flex-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-index img {
  padding: 5px;
}

@media (max-width: 550px) {
  .holamundo {
    background-color: blueviolet;
  }
}
